# Ignore everything
*

# But keep these specific files/directories:

# Include C source files
!*.c
!*.h

# Include Makefiles (if you're using Make)
!Makefile
!Makefile.in

# Include CMakeLists.txt (if you're using CMake)
!CMakeLists.txt

# Include any necessary config files
!config.h

# Include scripts or other important files for development
!*.sh

# If you're using certain directories for sources or configuration, allow them too:
!src/
!include/
!src/test
!scr/navier-stokes
!src/grid
!src/darcsit


# Keep the README.md file
!README.md

# Keep the .gitignore file itself
!.gitignore
