# Ignore object files and other intermediate files
*.o
*.obj
*.elf
*.a
*.lib
*.so
*.dll
*.out

# Ignore executables
*.exe
*.out
*.app
*.dSYM

# Ignore compiled binary files
*.exe
*.dll
*.so
*.dylib

# Ignore editor-specific files
*.swp
*.swo
*.swn
*.vscode/
.idea/

# Ignore dependency files
*.d

# Ignore CMake build directories
/build/
cmake-build-debug/
cmake-build-release/
CMakeFiles/
CMakeCache.txt
Makefile
makefile

# Ignore system-specific files
Thumbs.db
desktop.ini
.DS_Store

# Ignore all text files
*.txt

# Ignore figure and image files
*.fig
*.png
*.jpeg
*.jpg
*.ppm
*.peg
*.gif
*.bmp
*.tiff
*.webp
*.svg
*.raw
*.ico
*.heif
*.heic
*.pdf
*.ai
*.eps
*.indd

# Ignore LaTeX files
*.tex

# Ignore .plot files
*.plot

# Ignore files named 'log' or 'ref' with no extension
.log
.ref
